<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
</head>
<body>
    <h2>About Me</h2>
<p>
  Hi, I'm Rishab Jain — a Computer Science undergraduate (AI & ML) 
  and an aspiring DevOps engineer. I'm currently learning Linux, 
  Docker, AWS, and CI/CD by building and deploying real projects 
  rather than just following tutorials.
</p>
<p>
  This app is one of those projects — a simple Flask web app that 
  I built, containerized with Docker, and deployed on AWS EC2 as 
  part of learning cloud deployment hands-on.
</p>
<p>
  Check out my work on 
  <a href="https://github.com/Jainsahab478">GitHub</a> and 
  <a href="https://hub.docker.com/u/rishabjain478">DockerHub</a>.
</p>
<p>
  Note: This note was addded after setting up the CI/CD pipeline to make sure that new changes made are automatically deployed to the EC2 without any manual steps.
  
</p>
</body>
</html>