<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sample Web Application</title>
    <style>
        button {
            background-color: rgb(158, 94, 203);
            color: white;
            padding: 20px 60px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        </style>
</head>
<body>
    <div>
        Click the button below to know more!
    </div>
        
    
    <div>
        <form action="/about" method="get">
        <button type="submit">
            Click Me!
        </button>
          </form>  
    </div>
</body>
</html>